.containerFaixas {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  gap: 1rem;
}

.containerCard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 1.5rem;
  border-radius: 4px;
}

.cardPerc {
  padding: 1rem 0.5rem;
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardTime {
  padding: 1rem 0.5rem;
  border-radius: 0 4px 4px 0;
  color: #eee;
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
  align-items: center;
}

.containerBar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
}

.labelBox {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: bold;
  color: #334155;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 0;
  background: linear-gradient(to right, #f1f5f9, #94a3b8);
  padding: 6px;
  border-radius: 4px 0 0 0;
}

.containerGauge {
  background-color: #fff;
  /* padding-top: 1rem; */
  position: relative;
  border-radius: 4px;
  display: grid;
  align-items: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.doubleContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr 1fr;
}

.box {
  height: 280px;
  max-width: 100%;
  position: relative;
  /* padding-top: 1.2rem; */
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .containerFaixas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .doubleContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .containerBar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .containerGauge {
    height: 270px;
  }
}
