.containerGauge {
    background-color: #fff;
    padding-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

.containerParadoLigado{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1rem;
}

.paradoLigado {
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

.paradoLigado h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #1e3a8a;
    margin-bottom: 1rem;
}

.cardParadoLigado {
    border-left: 4px solid #1e3a8a;
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.cardParadoLigado h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    font-weight: 600;

    color: #1e3a8a;
}